[submodule "ens-aw-core"]
path = subprojects/ens-aw-core
url = https://github.com/ensemblesaw/ens-aw-core

[submodule "ens-shell-cli"]
path = subprojects/ens-shell-cli
url = https://github.com/ensemblesaw/ens-shell-cli

[submodule "ens-shell-gtk"]
path = subprojects/ens-shell-gtk
url = https://github.com/ensemblesaw/ens-shell-gtk

[submodule "libvinject"]
path = subprojects/libvinject
url = https://gitlab.com/geeky_endeavours/vinject

[submodule "enstl"]
path = subprojects/enstl
url = https://github.com/ensemblesaw/enstl
