[Desktop Entry]
Name=Ensembles
Comment=This session launches Ensembles Arranger Workstation in kiosk mode
Exec=com.github.ensemblesaw.ensembles --kiosk
Icon=
DesktopNames=Ensembles
Type=Application
