/*
 * Copyright 2020-2023 Subhadeep Jasu <subhajasu@gmail.com>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.panel {
    padding: 4px;
}

.can-be-blurred {
    filter: blur(0) brightness(1);
    transition: filter 0.5s cubic-bezier(0, 0, 0, 1);
}
.blurred {
    filter: blur(16px) brightness(0.9);
    transition: filter 0.2s ease-out;
}

button {
    outline: 0;
    box-shadow: none;
}

button.pulse {
    animation: pulse 3s linear infinite;
}

button.pulse-fill {
    animation: pulse-alt 1s linear infinite;
}

@keyframes pulse {
    0% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    5% {
        background-color: alpha(@accent_color, 0.7);
        box-shadow: inset 0 0 8px @accent_color;
    }

    25% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    30% {
        background-color: alpha(@accent_color, 0.5);
        box-shadow: inset 0 0 8px @accent_color;
    }

    50% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    55% {
        background-color: alpha(@accent_color, 0.7);
        box-shadow: inset 0 0 8px @accent_color;
    }

    75% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    80% {
        background-color: alpha(@accent_color, 0.5);
        box-shadow: inset 0 0 8px @accent_color;
    }

    100% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }
}

@keyframes pulse-alt {
    0% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    5% {
        background-color: alpha(@accent_color_complimentary, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    10% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    25% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    30% {
        background-color: alpha(@accent_color_complimentary, 0.5);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    35% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    50% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    55% {
        background-color: alpha(@accent_color_complimentary, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    60% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    75% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    80% {
        background-color: alpha(@accent_color_complimentary, 0.5);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    85% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    100% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }
}


.beat-counter-0 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
}

.beat-counter-1 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -32px;
}

.beat-counter-2 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -64px;
}

.beat-counter-3 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -96px;
}

.beat-counter-4 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -128px;
}

.adw-listbox>row {
    margin: 8px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #0002;
    box-shadow: 0 2px 4px #0003, inset 0 0 0 1px #fff1;
    transition: all 0.4s cubic-bezier(0, 0, 0, 1);
}

.adw-listbox>row:selected {
    background: alpha(@accent_color, 0.2);
    box-shadow: 0 2px 4px alpha(shade(@accent_color, 0.6), 0.5), inset 0 0 0 1px #fff1;
}

.adw-listbox>row>.header>.title>.subtitle {
    font-size: small;
    opacity: 0.5;
}

dimming {
    background: #0001;
}

flap>.adw-listbox {
    border-right: 1px solid #0004;
}

.folded>.adw-listbox {
    border-right: 1px solid #0006;
    box-shadow: 0px 0px 32px 32px #0004;
}

flap>stack {
    filter: blur(0);
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0, 0, 0, 1);
}

stack.dimmed {
    filter: blur(4px);
}


.display {
    background: #000;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 #0004, 0 1px 0 #fff3;
    border: 2px solid #000;
}

.display.fill {
    box-shadow: 0 0 0 4px #000;
    border: none;
}

.ensembles-logo-splash {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/display/splash_screen");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.splash-screen-background {
    background-color: #202020;
    background-position: center;
    background-size: cover;
    animation: ripple 1s 0.2s;
    filter: brightness(1);
    transition: filter 0.5s ease-in;
}

.splash-screen-background.fade-black {
    filter: brightness(0);
}

.splash-screen-text {
    color: #fff;
}

@keyframes ripple {
    from {
        background-image: radial-gradient(circle, #202020 0, #333 5%, #202020 6%);
    }

    to {
        background-image: radial-gradient(circle, #202020 0, #202020 90%, #202020 100%);
    }
}

.pseudowindow {
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px #fff2, inset 0 0 0 1px #000;
    padding: 8px;
    background-image: linear-gradient(@bg_color, @bg_color), linear-gradient(@window_bg_color, @window_bg_color), linear-gradient(grey, grey);
    box-shadow: 0 12px 24px #0008;
    text-shadow: 0 1px #fff6, 0 -1px #0004;
}

.pseudowindow-actual {
    background: linear-gradient(#0004, #0004), url("resource://com/github/subhadeepjasu/ensembles/images/display/home_background_default_blurred");
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: none;
}

@import url("resource://com/github/subhadeepjasu/ensembles/theme/Display.css");
