.panel {
    padding: 4px;
}

button {
    outline: 0;
    box-shadow: none;
}

button.pulse {
    animation: pulse 3s linear infinite;
}

button.pulse-fill {
    animation: pulse-alt 1s linear infinite;
}

@keyframes pulse {
    0% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    5% {
        background-color: alpha(@accent_color, 0.7);
        box-shadow: inset 0 0 8px @accent_color;
    }

    25% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    30% {
        background-color: alpha(@accent_color, 0.5);
        box-shadow: inset 0 0 8px @accent_color;
    }

    50% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    55% {
        background-color: alpha(@accent_color, 0.7);
        box-shadow: inset 0 0 8px @accent_color;
    }

    75% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    80% {
        background-color: alpha(@accent_color, 0.5);
        box-shadow: inset 0 0 8px @accent_color;
    }

    100% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }
}

@keyframes pulse-alt {
    0% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    5% {
        background-color: alpha(@accent_color_complimentary, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    10% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    25% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    30% {
        background-color: alpha(@accent_color_complimentary, 0.5);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    35% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    50% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    55% {
        background-color: alpha(@accent_color_complimentary, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    60% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    75% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }

    80% {
        background-color: alpha(@accent_color_complimentary, 0.5);
        box-shadow: inset 0 0 8px @accent_color_complimentary;
    }

    85% {
        background-color: alpha(@accent_color_complimentary_alternate, 0.7);
        box-shadow: inset 0 0 8px @accent_color_complimentary_alternate;
    }

    100% {
        background-color: @bg-color;
        box-shadow: inset 0 0 0 1px alpha(#000, 0.1);
    }
}


.beat-counter-0 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
}

.beat-counter-1 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -32px;
}

.beat-counter-2 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -64px;
}

.beat-counter-3 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -96px;
}

.beat-counter-4 {
    background-image: url("resource://com/github/subhadeepjasu/ensembles/images/beat_counter_map");
    background-position: 0px -128px;
}

.adw-listbox>row {
    margin: 8px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #0002;
    box-shadow: 0 2px 4px #0003, inset 0 0 0 1px #fff1;
}

.adw-listbox>row:selected {
    background: alpha(@accent_color, 0.2);
    box-shadow: 0 2px 4px alpha(shade(@accent_color, 0.75), 0.5), inset 0 0 0 1px #fff1;
}

.adw-listbox>row>.header>.title>.subtitle {
    font-size: small;
    opacity: 0.5;
}
